.card_container {
    padding: 25px;

    &__items {
       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 15px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
padding: 5px;
        &__humidity {
            color: #005986;
        }
    }
}