.tab {
    padding-top: 15px;

    &__group {
        padding: 25px;
    }
}

h1 {
    background-color: #005986;
    color: #fff;
}

.footer {
        background-color: #005986;
            color: #fff;
}