.container {
    &__tab {
        background-color: #fff;
    }

    &__group {
        padding:50px;
    }
}

h1 {
    background-color: #05336b;
    color: #fff;
}

.footer {
        background-color: #05336b;
            color: #fff;
}