.container {
        background-color: #05336b;
        color: #fff;
    &__header {
        padding: 10px 0;

            &__text {
                font-size: 24px;
                font-weight: bold;
                padding: 10px;

            }
    }

    &__tab {
        background-color: #fff;
    }

    &__group {
        padding:50px;
    }

    &__tabcontent {
        background-color: #005986;
        padding: 25px;
    }

    &__footer {
        padding: 10px 0;
    }
}